@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

  body{
     background: #1D2B64;  
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); 
     background: linear-gradient(to right, #F8CDDA, #1D2B64);
    } 
      


.main {
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: aliceblue;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image {
    width: 55%;
    /* border: 2px solid black; */
    background: url("https://img.freepik.com/premium-photo/zen-balanced-stones-stack-beach_163782-15.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.head{
    margin-top: 15VH;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.description{
    text-align: center;
    color: white;
    margin-top: 2vh;
}
.lower-content{
    /* border: 2px solid black; */
    width: 60%;
    margin: auto;
}

.form {
    width: 45%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.for {
    width: 80%;
    /* border: 2px solid red; */
    text-align: center;
}

.input-filed input {
    border: none;
    outline: none;
    padding: 15px 120px;
    margin-top: 20px;
    background: transparent;
    background-color: rgb(233, 234, 255);
    border-radius: 10px;
    cursor: pointer;
}

.input-filed i {
    position: relative;
    left: 2vw;
}
.btnfiled{
    /* border: 2px solid black; */
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

button{
    margin-top: 5vh;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: aliceblue;
    font-weight: 700;
    transition: 0.5s;
}


    .disable{
        background-color: rgb(222, 222, 222);
        background-image: linear-gradient(43deg, #efeff2 0%, #d2cfd2 46%, #dbd9d5 100%);
        color: #000;
    }
    .underline{
        width: 8%;
        background-color: #C850C0;
        height: 1vh;
        border-radius: 20px;
        margin-left: 17vw;
        transition: transform .5s;
    }
